# Node dependencies (root + subfolders)
node_modules/
**/node_modules/

# Environment files (root + subfolders)
.env
.env.*
**/.env
**/.env.*


# Uploaded resume files
backend/uploads/resumes/*
!backend/uploads/resumes/.gitkeep
